//banner
//首頁 / 關於我們
.badge-ol {
  margin-bottom: 0;
  margin-top: 92px;
  margin-bottom: 32px;
  @include mobile {
    margin-top: 36px;
    margin-bottom: 12px;
  }
}
.badge-home {
  color: $neutral-400;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  @include mobile {
    font-size: 14px;
    line-height: 2;
  }
}
.badge-about {
  color: $accent-200;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  @include mobile {
    font-size: 14px;
    line-height: 2;
  }
}

//卡片
.about-card-container {
  max-width: 50%;
  @include mobile {
    max-width: 100%;
    padding-left: 12px;
    padding-right: 12px;
  }
}
.about-card {
  max-width: 100%;
  @include mobile {
    max-width: 696px;
  }
}
.about-card-title {
  font-weight: 700;
  color: $neutral-600;
  margin-top: 36px;
  margin-bottom: 12px;
  @include mobile {
    margin-top: 16px;
  }
}

//大事記
.event-month {
  width: 67px;
  font-size: 24px;
  font-weight: 700;
  border-bottom: none;
  @include mobile {
    width: 50px;
    font-size: 16px;
  }
}
.event-content {
  font-size: 16px;
  font-weight: 600;
  border-left: $neutral-300 1px solid;
  border-bottom: none;
}

//品牌願景
.vision-card {
  max-width: 776px;
  @include mobile {
    max-width: 100%;
    padding-left: 12px;
    padding-right: 12px;
  }
}
